body { 
    background-image: url('fundo-espaco')  ;
    background-size: 100vw auto;
    font-family: Arial ;
    height: auto; 
    font-size: 12px;    
    color: white;
}

a {
color: teal;
text-decoration: ;
}

a:hover{

}
 .menu {
     background-color:white;
 }

 .menu ul {
     display: flex;
     justify-content: ;
 }
 .menu li {
     list-style: none;
 }

 .site-titulo,
 .site-subtitulo{
     color:white;
     text-align: ;
 }